In [1]:
import numpy as np
import pandas as pd
# import pickle

# with open('bin/tag_meta.p', 'rb') as f:
#     tag_meta, tag_meta_inverse = pickle.load(f)

In [5]:
head = pd.read_json('submission/lightknn_100_idf_04_head.json', orient='records')
tail = pd.read_json('submission/lightknn_100_idf_04_tail.json', orient='records')
display(head, tail)
ans = pd.concat([head, tail], ignore_index=True)
ans.to_json('submission/lightknn_100_idf_04.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
12995,136683,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
12996,5216,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
12997,68038,"[370796, 258919, 522825, 298103, 170317, 24698...","[발라드, 이별, 사랑, 슬픔, 추억, 설렘, 회상, 기분전환, 감성, 까페]"
12998,60325,"[675115, 407828, 671830, 26083, 302646, 650494...","[추억, 기분전환, 발라드, 회상, 휴식, 힐링, 드라이브, 멜론, 사랑, 감성]"
12999,20545,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"

,id,songs,tags
0,120241,"[658227, 200687, 54755, 335756, 576559, 529748...","[방탄소년단, 아이돌, 기분전환, 신나는, 드라이브, BTS, 여행, 휴식, 봄, 감성]"
1,134333,"[654757, 88503, 123465, 492678, 118219, 295250...","[OST, 추억, 회상, 사랑, 드라마ost, 기분전환, 발라드, 설렘, 이별, 휴식]"
2,151400,"[675115, 44603, 643628, 77951, 35703, 11657, 6...","[잔잔한, 가을, 발라드, 새벽, 이별, 회상, 밤, 힐링, 휴식, 기분전환]"
3,147692,"[518420, 318530, 114119, 443914, 375431, 60363...","[신나는, 댄스, 기분전환, 걸그룹, 아이돌, 운동, 드라이브, 여자아이돌, 여행,..."
4,24748,"[588471, 253386, 447424, 479311, 268138, 51234...","[아이돌, 기분전환, 댄스, 발라드, 신나는, 드라이브, 휴식, 힙합, 랩, 운동]"
...,...,...,...
10010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 이별, 슬픔, 힐링, 발라드, 휴식, 감성, 기분전환, 인디]"
10011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[사랑, 추억, 엄마, 부모님, 회상, 힐링, 휴식, 잔잔한, 어버이날, 발라드]"
10012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
10013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
10014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [13]:
ans = pd.read_json('submission/lightknn_100_cos_a03_b07.json', orient='records')
idx = []
for i in ans.index:
    length = len(ans.tags[i])
    if length != 10:
        idx.append(i)
        for k in range(10-length):
            ans.tags[i].append(k)
display(ans.tags[idx])
ans.to_json('submission/results.json', orient='records')

2948               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
3312               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
3908               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
5452               [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
5474                  [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
18110              [뉴에이지, 뉴에이, 0, 1, 2, 3, 4, 5, 6, 7]
18638                 [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
21410    [해외차트, 국내, 국내차트, 년대, 멜론차트, 실시간차트, 0, 1, 2, 3]
22189                 [겨울, 재즈, 0, 1, 2, 3, 4, 5, 6, 7]
Name: tags, dtype: object

In [31]:
first = pd.read_json('submission/lightknn_100_idf_rho04a05b05_head.json', orient='records')
second = pd.read_json('submission/lightknn_100_idf_rho04a05b05_tail.json', orient='records')
third = pd.read_json('submission/lightknn_100_idf_rho04a05b05_third.json', orient='records')
ans = pd.concat([first, second, third], ignore_index=True)
display(ans)
for i in ans.index:
    temp = []
    for tag in ans.tags[i]:
        temp.append(tag_meta_inverse[tag])
    ans.at[i, 'tags'] = temp
display(ans)
idx = []
for i in ans.index:
    length = len(ans.tags[i])
    if length != 10:
        idx.append(i)
        for k in range(10-length):
            ans.tags[i].append(k)
display(ans.tags[idx])
ans.to_json('submission/lightknn_100_idf_rho04a05b05.json', orient="records")

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[86, 2928, 2737, 1089, 1, 21, 5250, 3574, 3577..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[21, 122, 17, 57, 20, 85, 110, 192, 1, 67]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[122, 1, 2, 31, 28, 71, 59, 60, 30, 67]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[122, 67, 30, 4, 31, 60, 85, 21, 110, 59]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[326, 947, 949, 30, 1454, 2355, 2680, 3542, 12..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[60, 59, 110, 20, 67, 1, 30, 31, 21, 28]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[124, 3161, 20, 473, 30, 4, 1, 67, 60, 2]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[23, 309, 18, 21, 17, 110, 96, 85, 112, 67]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[358, 110, 20, 4, 21, 493, 65, 157, 654, 258]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[70, 30, 217, 71, 627, 21, 922, 626, 67, 17]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

491               [힙합, 힙합엘이, 흑인음악, 알앤비, R, 추억, 0, 1, 2, 3]
1479             [힙합, 쇼미더머니, 알앤비, 이것저것, 국힙, 0, 1, 2, 3, 4]
5463     [힙합, HIPHOPLE, 흑인음악, 알앤비, R, 서울소울페스티벌, 서소페, 0,...
9375     [피쉬슈즈, 인디, 인디스트리트, indie, 레이브릭스, ByeByeBadman,...
9535     [나만의Best3, 피쉬슈즈, 인디스트리트, 미러볼뮤직, 케이인디차트, 낭만, 추억...
10787    [나만의Best3, 인디, 인디스트리트, indie, 신해경, 피터팬콤플렉스, 전지...
11290          [힙합, 힙합엘이, 흑인음악, 알앤비, R, 클럽, 드라이브, 0, 1, 2]
12162    [힙합, primary, HipHop, M에센셜, 프라이머리, Rap, 기분전환, ...
19479                  [힙합, 감성, 부드러움, 0, 1, 2, 3, 4, 5, 6]
Name: tags, dtype: object

In [6]:
# Best Record(1)
a = pd.read_json('submission/lightknn_100_idf_04.json', orient='records')
b = pd.read_json('submission/lightknn_100_idf_rho04a05b05.json', orient='records')
display(a, b)
ans = a.copy()
for i in ans.index:
    ans.at[i, 'tags'] = b.tags[i]
display(ans)
ans.to_json('submission/lightknn_100_idf_rho04_tags-a05b05.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 이별, 슬픔, 힐링, 발라드, 휴식, 감성, 기분전환, 인디]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[사랑, 추억, 엄마, 부모님, 회상, 힐링, 휴식, 잔잔한, 어버이날, 발라드]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 366786, 22845, 449244, 95485, 245317,...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [6]:
# Best Record(2)
val = pd.read_json('res/val.json')
combined = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05.json', orient='records')
b = pd.read_json('submission/lightknn_100_idf_rho04a05b05.json', orient='records')
for i in val.index:
    if val.songs[i] == []:
        combined.at[i, 'songs'] = b.songs[i]
display(combined)
combined.to_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')

,id,songs,tags
0,118598,"[207912, 623047, 422438, 703323, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 214521, 610218, 457500, 456474, 40277...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 224921, 116114, 19533...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 445299, 106129, 70314, 526037...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[339802, 116573, 286273, 459866, 413189, 57790...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[352228, 138932, 4173, 473514, 630552, 48209, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[651788, 354737, 64680, 532729, 375318, 81796,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 250, 204547, 25012, 104065, 586556, 1...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [16]:
# Best Record(3)
# cfknnv2_a1b03
first = pd.read_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_first.json', orient='records')
second = pd.read_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_second.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)

idx1 = 0
idx2 = 0
for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'id'] = val.loc[i, 'id']
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    else:
        if i < 11500:
            ans.at[i, 'id'] = first.loc[idx1, 'id']
            ans.at[i, 'songs'] = first.loc[idx1, 'songs']
            idx1 += 1
        elif i >= 11500:
            ans.at[i, 'id'] = second.loc[idx2, 'id']
            ans.at[i, 'songs'] = second.loc[idx2, 'songs']
            idx2 += 1
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/cfknnv2_a1b03/cfknnv2_a1b03_combined_lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans

,id,songs,tags
0,118598,"[694423, 308797, 412246, 520034, 359986, 61120...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[478552, 331734, 436168, 276232, 545417, 42080...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 459349, 224363, 551486, 367679, 68851...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 70314, 522562, 289089, 412769, 618001...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[426430, 399402, 485193, 496582, 397577, 60656...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 4173, 36458, 352228, 438095, 351769, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 459256, 493762, 542127, 14086...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[200679, 102795, 375318, 95380, 520167, 64680,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 586556, 104065, 154929, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [2]:
first = pd.read_json('submission/cfknnv2_a1b05.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)

idx = 0
for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'id'] = val.loc[i, 'id']
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    else:
        ans.at[i, 'id'] = first.loc[idx, 'id']
        ans.at[i, 'songs'] = first.loc[idx, 'songs']
        idx += 1
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/cfknnv2_a1b05_full.json', orient='records')
ans

,id,songs,tags
0,118598,"[694423, 308797, 461170, 520034, 611201, 35998...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[331734, 478552, 276232, 436168, 545417, 62788...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[459349, 587737, 119675, 475865, 229904, 25903...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[522562, 345855, 704659, 70314, 211220, 707163...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[426430, 606564, 368925, 339356, 64480, 470725...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 299248, 505247, 438095, 588370, 36458...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 542127, 459256, 571016, 47668...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[200679, 102795, 375318, 95380, 520167, 97444,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 23155, 586556, 154929, 25012,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [2]:
# Best Record(4)
# cfknnv2_a05b03
first1 = pd.read_json('submission/cfknnv2_a05b03/auto_save_first.json', orient='records')     # (0, 7000)
first2 = pd.read_json('submission/cfknnv2_a05b03/auto_save2_first.json', orient='records')    # (5000, 11500)
second1 = pd.read_json('submission/cfknnv2_a05b03/auto_save_second.json', orient='records')   # (11500 , 18500)
second2 = pd.read_json('submission/cfknnv2_a05b03/auto_save2_second.json', orient='records')  # (16500, 22500)
second3 = pd.read_json('submission/cfknnv2_a05b03/auto_save3_second.json', orient='records')  # (22500, 23015)
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.DataFrame(columns=['id', 'songs', 'tags'], index=val.index)


first = pd.concat([first1, first2[2000:]], ignore_index=True)
second = pd.concat([second1, second2[2000:], second3], ignore_index=True)
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']

ans.to_json('submission/cfknnv2_a05b03/cfknnv2_a05b03.json', orient='records')

display(first1, first2, second1, second2, ans)

          id                                              songs tags
0     118598  [308797, 694423, 461170, 15774, 520437, 656598...   []
1     131447                                                 []   []
2      51464  [344798, 191494, 705540, 527625, 170349, 43616...   []
3      45144  [587737, 459349, 367679, 229904, 144663, 28070...   []
4      79929  [211220, 412769, 70314, 522562, 445299, 106129...   []
...      ...                                                ...  ...
6995  100853  [454871, 603842, 61490, 50495, 561452, 357117,...   []
6996  119012                                                 []   []
6997  106591  [62096, 671266, 63190, 550766, 603512, 385250,...   []
6998   43236  [348092, 11797, 554870, 500596, 502321, 425945...   []
6999   57815  [130199, 699874, 120291, 343214, 319861, 58032...   []

[7000 rows x 3 columns]

          id                                              songs tags
0      39550  [551860, 591462, 575247, 491365, 77181, 105116...   []
1      79324  [79970, 687497, 571008, 392151, 135604, 111501...   []
2      88821                                                 []   []
3      72625  [503448, 166593, 137665, 12739, 620400, 490281...   []
4     129605  [407828, 497710, 431902, 530279, 628029, 62520...   []
...      ...                                                ...  ...
6495   18621  [478386, 496253, 375889, 518327, 180228, 19713...   []
6496   55912  [315898, 202487, 156602, 658270, 569946, 29281...   []
6497   18736  [321021, 166371, 39682, 295980, 530411, 625652...   []
6498   68554  [208051, 568867, 341276, 306221, 623552, 61728...   []
6499   59108  [92755, 417490, 686315, 310974, 266016, 576943...   []

[6500 rows x 3 columns]

          id                                              songs tags
0     101984  [623010, 486149, 211709, 297740, 373629, 15524...   []
1      20534  [270694, 666132, 90175, 559711, 149375, 491279...   []
2      40972  [367345, 380876, 408581, 30212, 383369, 209271...   []
3      65961  [488943, 357367, 484926, 63998, 144663, 11569,...   []
4      48610  [456740, 612516, 552707, 367963, 413314, 43701...   []
...      ...                                                ...  ...
6995   89638  [364454, 350410, 398638, 279247, 310628, 19152...   []
6996   22390  [133143, 543226, 665508, 610933, 235900, 55418...   []
6997   29794  [675061, 32196, 134451, 597316, 27838, 160143,...   []
6998  134056  [357367, 600802, 613722, 193232, 232874, 55317...   []
6999  147376  [18117, 161768, 302278, 265811, 564812, 413422...   []

[7000 rows x 3 columns]

          id                                              songs tags
0       1173  [370066, 201700, 102784, 390629, 543673, 24385...   []
1      95118                                                 []   []
2     139479  [615385, 506394, 265321, 541989, 443630, 55705...   []
3       2747  [65622, 358241, 322491, 373649, 703096, 541682...   []
4      36068  [598738, 400671, 529026, 681575, 585208, 20215...   []
...      ...                                                ...  ...
5995  128967  [2324, 584304, 669304, 616960, 623053, 599705,...   []
5996  123453  [529970, 657365, 549368, 435834, 424536, 25190...   []
5997  150362                                                 []   []
5998   54338  [628085, 583823, 526558, 114037, 45909, 9644, ...   []
5999   31552                                                 []   []

[6000 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 461170, 15774, 520437, 656598...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 191494, 705540, 527625, 170349, 43616...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 459349, 367679, 229904, 144663, 28070...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 522562, 445299, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[496582, 397577, 434298, 350447, 116573, 66072...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 438095, 588370, 351769, 509141, 70748...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 571016, 140867, 459256, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 375318, 97444, 95380, 520167,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 154929, 586556, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [8]:
# cfknnv2_a03b03
first = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_first.json', orient='records')    # (0, 5500)
second = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_second.json', orient='records')  # (5500, 17500)
third = pd.read_json('submission/cfknnv2_a03b03/cfknnv2_a03b03_third.json', orient='records')    # (17500, 23015)
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.concat([first, second, third], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']

ans.to_json('submission/cfknnv2_a03b03/cfknnv2_a03b03.json', orient='records')

display(first, second, third, ans)

          id                                              songs tags
0     118598  [308797, 694423, 461170, 15774, 520437, 656598...   []
1     131447                                                 []   []
2      51464  [347410, 227764, 211430, 705757, 107484, 57200...   []
3      45144  [587737, 144663, 367963, 174749, 280705, 38428...   []
4      79929  [412769, 211220, 70314, 445299, 505388, 106129...   []
...      ...                                                ...  ...
5495  137562  [681432, 318217, 314290, 560444, 385004, 20129...   []
5496   74415  [290477, 8893, 623862, 600169, 567698, 357367,...   []
5497  141473  [363329, 97814, 96307, 89810, 57905, 564601, 5...   []
5498    6417  [395662, 481467, 275469, 606515, 621300, 49356...   []
5499  110556  [400891, 540582, 621993, 361528, 247393, 39889...   []

[5500 rows x 3 columns]

           id                                              songs tags
0        9513  [623911, 607508, 403699, 92495, 349808, 219117...   []
1       69516  [372235, 473716, 29842, 553894, 380564, 574523...   []
2      138716  [64361, 440160, 193232, 594592, 61029, 232874,...   []
3      129383  [14959, 676111, 32214, 34815, 144751, 661001, ...   []
4       66691  [627940, 661188, 108738, 191725, 590132, 13403...   []
...       ...                                                ...  ...
11995   19532  [264908, 592152, 677074, 250815, 685074, 43084...   []
11996   26793  [635501, 205789, 666160, 130487, 199587, 37331...   []
11997   19379  [301392, 541943, 423795, 605170, 565118, 46861...   []
11998   30551                                                 []   []
11999   25704  [408743, 223252, 382240, 373754, 561052, 14928...   []

[12000 rows x 3 columns]

          id                                              songs tags
0      89945  [144141, 530618, 135589, 308363, 633506, 36426...   []
1     125449  [398005, 36030, 219365, 163371, 641673, 107248...   []
2      25839                                                 []   []
3      18967                                                 []   []
4     151690                                                 []   []
...      ...                                                ...  ...
5510  101722  [496582, 397577, 116573, 434298, 350447, 33980...   []
5511  122127  [588370, 162689, 438095, 509141, 707487, 35176...   []
5512   77438  [274504, 679436, 571016, 140867, 696317, 45925...   []
5513   36231  [102795, 200679, 97444, 375318, 584292, 95380,...   []
5514   65189  [457124, 104065, 154929, 586556, 25012, 23155,...   []

[5515 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 461170, 15774, 520437, 656598...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[347410, 227764, 211430, 705757, 107484, 57200...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 144663, 367963, 174749, 280705, 38428...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 505388, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[496582, 397577, 116573, 434298, 350447, 33980...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[588370, 162689, 438095, 509141, 707487, 35176...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 571016, 140867, 696317, 45925...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 97444, 375318, 584292, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 154929, 586556, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [7]:
# Best Record(5)
# neighbor1_a5b1
first = pd.read_json('submission/neighbor1_a5b1/neighbor1_a5b1_first.json', orient='records')    # (0, 11500)
second = pd.read_json('submission/neighbor1_a5b1/neighbor1_a5b1_second.json', orient='records')  # (11500, 23015)
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']

ans.to_json('submission/neighbor1_a5b1/neighbor1_a5b1.json', orient='records')

display(first, second, ans)

           id                                              songs tags
0      118598  [308797, 694423, 412246, 76044, 207912, 66475,...   []
1      131447                                                 []   []
2       51464  [344798, 358450, 170349, 191494, 705540, 52762...   []
3       45144  [144663, 367963, 174749, 587737, 367679, 34949...   []
4       79929  [412769, 211220, 70314, 445299, 106129, 522562...   []
...       ...                                                ...  ...
11495   18621  [57206, 484146, 45634, 428688, 608559, 55644, ...   []
11496   55912  [315898, 156602, 202487, 537399, 573989, 65827...   []
11497   18736  [321021, 166371, 404358, 344993, 530411, 39682...   []
11498   68554  [208051, 568867, 617280, 341276, 306221, 62355...   []
11499   59108  [92755, 310974, 505710, 417490, 266016, 329189...   []

[11500 rows x 3 columns]

           id                                              songs tags
0      101984  [623010, 486149, 211709, 297740, 373629, 15524...   []
1       20534  [666132, 270694, 470129, 410108, 491279, 56257...   []
2       40972  [367345, 408581, 30212, 383369, 362831, 380876...   []
3       65961  [357367, 144663, 484926, 488943, 648635, 51171...   []
4       48610  [456740, 367963, 612516, 413314, 552707, 24653...   []
...       ...                                                ...  ...
11510  101722  [116573, 253755, 397577, 496582, 434298, 56998...   []
11511  122127  [162689, 4173, 352228, 138932, 676492, 351769,...   []
11512   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
11513   36231  [375318, 200679, 102795, 64680, 532729, 95380,...   []
11514   65189  [457124, 25012, 586556, 104065, 250, 154929, 2...   []

[11515 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 412246, 76044, 207912, 66475,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 358450, 170349, 191494, 705540, 52762...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 587737, 367679, 34949...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 397577, 496582, 434298, 56998...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 250, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [11]:
# neighbor1_a7b3
first = pd.read_json('submission/neighbor1_a7b3/neighbor1_a7b3_first.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/neighbor1_a7b3/neighbor1_a7b3.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [308797, 694423, 461170, 15774, 520437, 149051...   []
1      131447                                                 []   []
2       51464  [478552, 331734, 436168, 276232, 545417, 34479...   []
3       45144  [587737, 459349, 367679, 551486, 224363, 22990...   []
4       79929  [211220, 70314, 522562, 412769, 289089, 106129...   []
...       ...                                                ...  ...
23010  101722  [397577, 496582, 434298, 350447, 143716, 66072...   []
23011  122127  [162689, 438095, 588370, 36458, 4173, 351769, ...   []
23012   77438  [274504, 679436, 140867, 459256, 571016, 49376...   []
23013   36231  [102795, 200679, 375318, 95380, 520167, 97444,...   []
23014   65189  [457124, 104065, 586556, 154929, 25012, 23155,...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 461170, 15774, 520437, 149051...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[478552, 331734, 436168, 276232, 545417, 34479...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[587737, 459349, 367679, 551486, 224363, 22990...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 70314, 522562, 412769, 289089, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[397577, 496582, 434298, 350447, 143716, 66072...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 438095, 588370, 36458, 4173, 351769, ...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 571016, 49376...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 375318, 95380, 520167, 97444,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 586556, 154929, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [16]:
# Best Record(6)
# neighbor2_a5b1
first = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1_first.json', orient='records')  # (0, 8000)
second = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1_second.json', orient='records')  # (8000, 11500)
third = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1_third.json', orient='records')  # (11500, 19000)
fourth = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1_fourth.json', orient='records')  # (19000, 23015)
val = pd.read_json('res/val.json')
best = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
ans = pd.concat([first, second, third, fourth], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
    ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/neighbor2_a5b1/neighbor2_a5b1.json', orient='records')

display(first, second, third, fourth, ans)

          id                                              songs tags
0     118598  [308797, 694423, 412246, 76044, 207912, 66475,...   []
1     131447                                                 []   []
2      51464  [344798, 358450, 170349, 191494, 705540, 52762...   []
3      45144  [144663, 367963, 174749, 367679, 349492, 28951...   []
4      79929  [412769, 211220, 70314, 445299, 106129, 522562...   []
...      ...                                                ...  ...
7995  123016  [613077, 155952, 456911, 48209, 544196, 482037...   []
7996    2558  [76859, 231111, 46305, 159710, 230973, 500154,...   []
7997   71840  [679209, 58670, 636446, 190388, 483206, 280406...   []
7998   63134  [560837, 415964, 543473, 485701, 189129, 38052...   []
7999   79758  [526972, 240616, 645301, 225183, 50537, 175418...   []

[8000 rows x 3 columns]

          id                                              songs tags
0      85738  [431083, 651679, 414693, 73838, 118751, 260133...   []
1     102775  [393544, 238643, 331324, 154487, 69763, 501764...   []
2      38871                                                 []   []
3      31237  [449244, 64762, 69156, 205075, 23218, 198465, ...   []
4      89766  [321564, 512994, 121303, 19946, 207232, 672541...   []
...      ...                                                ...  ...
3495   18621  [57206, 484146, 45634, 428688, 608559, 55644, ...   []
3496   55912  [315898, 156602, 202487, 537399, 573989, 65827...   []
3497   18736  [321021, 166371, 404358, 344993, 530411, 39682...   []
3498   68554  [208051, 568867, 617280, 341276, 306221, 62355...   []
3499   59108  [92755, 310974, 505710, 417490, 266016, 329189...   []

[3500 rows x 3 columns]

          id                                              songs tags
0     101984  [623010, 486149, 211709, 297740, 373629, 15524...   []
1      20534  [666132, 270694, 470129, 410108, 491279, 56257...   []
2      40972  [367345, 408581, 30212, 383369, 362831, 380876...   []
3      65961  [357367, 144663, 484926, 488943, 648635, 51171...   []
4      48610  [456740, 367963, 612516, 413314, 552707, 24653...   []
...      ...                                                ...  ...
7495  109802  [138031, 102784, 588471, 365678, 667123, 46454...   []
7496  132883  [406510, 99909, 439829, 657081, 603893, 419, 4...   []
7497  107178  [358818, 610712, 242600, 411161, 499755, 24120...   []
7498  151974  [443321, 44720, 666201, 148989, 220212, 544252...   []
7499  102693  [701557, 53369, 348200, 565629, 246984, 178044...   []

[7500 rows x 3 columns]

          id                                              songs tags
0     152919  [594432, 124799, 145477, 97130, 163228, 579090...   []
1      40698  [508982, 694204, 494320, 670953, 82206, 134143...   []
2      99965                                                 []   []
3      19172  [367866, 587950, 546643, 208625, 447809, 32532...   []
4     121548  [173943, 518484, 585216, 267578, 316497, 64835...   []
...      ...                                                ...  ...
4010  101722  [116573, 253755, 397577, 496582, 434298, 56998...   []
4011  122127  [162689, 4173, 352228, 138932, 676492, 351769,...   []
4012   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
4013   36231  [375318, 200679, 102795, 64680, 532729, 95380,...   []
4014   65189  [457124, 25012, 586556, 104065, 250, 154929, 2...   []

[4015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 412246, 76044, 207912, 66475,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 358450, 170349, 191494, 705540, 52762...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 367679, 349492, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 397577, 496582, 434298, 56998...","[새벽, 밤, 휴식, 힐링, 감성, 추억, 사랑, 이별, 기분전환, 슬픔]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[위로, 엄마, 힐링, 부모님, 사랑, 잔잔한, 추억, 감성, 새벽, 회상]"
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 250, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [14]:
# Best Record(7)
# neighbortag-beta1_a5b1
best = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1.json', orient='records')
first = pd.read_json('submission/neighbor-tag_beta1_a5b1/neighbortag_beta1_a5b1.json', orient='recirds')
# first에 태그 개수 100개씩 뽑아서 10로 줄여주는 작업 진행
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = first.loc[i, 'tags'][:10]
ans.to_json('submission/neighbor-tag_beta1_a5b1/neighbortag_beta1_a5b1_with_songs.json', orient='records')

display(first, ans)

           id songs                                               tags
0      118598    []                                                 []
1      131447    []                                                 []
2       51464    []                                                 []
3       45144    []                                                 []
4       79929    []                                                 []
...       ...   ...                                                ...
23010  101722    []  [휴식, 새벽, 밤, 힐링, 감성, 기분전환, 카페, 추억, 사랑, 발라드, 회상,...
23011  122127    []  [엄마, 아버지, 부모님, 너무힘들어, 어버이날, 위로가_되는_음악, 사랑, 감사,...
23012   77438    []                                                 []
23013   36231    []                                                 []
23014   65189    []                                                 []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 412246, 76044, 207912, 66475,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 358450, 170349, 191494, 705540, 52762...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 367679, 349492, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 397577, 496582, 434298, 56998...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 카페, 추억, 사랑, 발라드]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 너무힘들어, 어버이날, 위로가_되는_음악, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 250, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [15]:
# Best Record(8)
# neighbortag-beta1_a7b1
best = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1.json', orient='records')
first = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1.json', orient='recirds')
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = first.loc[i, 'tags']
ans.to_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')

display(first, ans)

           id songs                                               tags
0      118598    []                                                 []
1      131447    []                                                 []
2       51464    []                                                 []
3       45144    []                                                 []
4       79929    []                                                 []
...       ...   ...                                                ...
23010  101722    []        [휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]
23011  122127    []  [엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,...
23012   77438    []                                                 []
23013   36231    []                                                 []
23014   65189    []                                                 []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 412246, 76044, 207912, 66475,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 358450, 170349, 191494, 705540, 52762...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 367679, 349492, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 397577, 496582, 434298, 56998...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 250, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [21]:
# neighbor2_a7b1
first = pd.read_json('submission/neighbor2_a7b1/neighbor2_a7b1_first.json', orient='records')    # (0, 11500)
second = pd.read_json('submission/neighbor2_a7b1/neighbor2_a7b1_second.json', orient='records')  # (11500, 23000)
third = pd.read_json('submission/neighbor2_a7b1/neighbor2_a7b1_third.json', orient='records')    # (23000, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = pd.concat([first, second, third], ignore_index=True)

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a7b1/neighbor2_a7b1.json', orient='records')

display(first, second, third, ans)

           id                                              songs tags
0      118598  [207912, 412246, 623047, 66475, 76044, 308797,...   []
1      131447                                                 []   []
2       51464  [545417, 344798, 276232, 436168, 705540, 17034...   []
3       45144  [144663, 367679, 459349, 289510, 367963, 22436...   []
4       79929  [211220, 412769, 70314, 445299, 522562, 106129...   []
...       ...                                                ...  ...
11495   18621  [57206, 45634, 55644, 45745, 484146, 608559, 4...   []
11496   55912  [315898, 156602, 202487, 537399, 658270, 56994...   []
11497   18736  [166371, 321021, 404358, 288585, 530411, 70651...   []
11498   68554  [208051, 568867, 617280, 341276, 306221, 62355...   []
11499   59108  [92755, 310974, 686315, 266016, 619987, 503470...   []

[11500 rows x 3 columns]

           id                                              songs tags
0      101984  [486149, 623010, 211709, 297740, 373629, 15524...   []
1       20534  [666132, 270694, 90175, 491279, 559711, 149375...   []
2       40972  [367345, 408581, 30212, 383369, 362831, 380876...   []
3       65961  [357367, 144663, 484926, 75842, 116573, 151183...   []
4       48610  [456740, 367963, 612516, 246531, 552707, 41331...   []
...       ...                                                ...  ...
11495   72661  [508467, 494857, 17488, 262114, 345621, 453803...   []
11496   86721                                                 []   []
11497   75905  [540963, 532698, 321479, 422914, 206306, 22459...   []
11498  144021  [572251, 589212, 274785, 304665, 636856, 41370...   []
11499  104033  [66804, 257947, 305162, 322527, 255956, 70534,...   []

[11500 rows x 3 columns]

        id                                              songs tags
0     6951  [68904, 171266, 417480, 350630, 69533, 106037,...   []
1    11721  [321938, 237923, 217769, 187304, 685823, 10636...   []
2    56570                                                 []   []
3   127349  [195751, 300466, 662737, 141329, 569897, 67190...   []
4   127228  [563304, 195627, 644325, 395236, 15408, 85843,...   []
5   136258  [265998, 683423, 347066, 666255, 476830, 50160...   []
6    92067  [553480, 117392, 77000, 50347, 686627, 353387,...   []
7    44013  [437828, 671531, 214402, 256492, 52206, 544430...   []
8   100684                                                 []   []
9    17766  [646941, 548303, 699557, 420396, 498935, 62849...   []
10  101722  [116573, 397577, 496582, 434298, 564336, 25375...   []
11  122127  [4173, 162689, 352228, 138932, 676492, 351769,...   []
12   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
13   36231  [64680, 102795, 200679, 375318, 532729, 95380,...   []
14   65189  [457124, 586556, 25012, 104065, 154929, 250, 2...   []

,id,songs,tags
0,118598,"[207912, 412246, 623047, 66475, 76044, 308797,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[545417, 344798, 276232, 436168, 705540, 17034...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367679, 459349, 289510, 367963, 22436...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 522562, 106129...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 397577, 496582, 434298, 564336, 25375...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[4173, 162689, 352228, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[64680, 102795, 200679, 375318, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 586556, 25012, 104065, 154929, 250, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [3]:
# Best Records(9)
# neighbor2_a7b0
first = pd.read_json('submission/neighbor2_a7b0/neighbor2_a7b0_first.json', orient='records')    # (0, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a7b0/neighbor2_a7b0.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [207912, 623047, 703323, 78983, 422438, 638488...   []
1      131447                                                 []   []
2       51464  [533739, 585216, 457500, 358450, 410365, 57304...   []
3       45144  [144663, 349492, 285895, 367963, 174749, 28951...   []
4       79929  [211220, 412769, 70314, 445299, 106129, 289089...   []
...       ...                                                ...  ...
23010  101722  [253755, 116573, 569989, 564336, 542045, 69342...   []
23011  122127  [352228, 138932, 4173, 162689, 473514, 676492,...   []
23012   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
23013   36231  [64680, 532729, 375318, 651788, 100426, 95380,...   []
23014   65189  [457124, 25012, 586556, 250, 104065, 154929, 2...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [4]:
# neighbor2_a6b1
first = pd.read_json('submission/neighbor2_a6b1/neighbor2_a6b1_first.json', orient='records')    # (0, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a6b1/neighbor2_a6b1.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [207912, 412246, 308797, 694423, 76044, 623047...   []
1      131447                                                 []   []
2       51464  [344798, 545417, 705540, 527625, 170349, 19149...   []
3       45144  [144663, 367963, 367679, 174749, 289510, 34949...   []
4       79929  [211220, 412769, 70314, 445299, 106129, 522562...   []
...       ...                                                ...  ...
23010  101722  [116573, 496582, 397577, 253755, 434298, 56998...   []
23011  122127  [162689, 4173, 352228, 138932, 676492, 351769,...   []
23012   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
23013   36231  [375318, 200679, 102795, 64680, 532729, 95380,...   []
23014   65189  [457124, 25012, 586556, 104065, 154929, 250, 2...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[207912, 412246, 308797, 694423, 76044, 623047...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 545417, 705540, 527625, 170349, 19149...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 367679, 174749, 289510, 34949...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 496582, 397577, 253755, 434298, 56998...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 154929, 250, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [5]:
# neighbor2_a8b1
first = pd.read_json('submission/neighbor2_a8b1/neighbor2_a8b1_first.json', orient='records')    # (0, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a8b1/neighbor2_a8b1.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [207912, 623047, 412246, 66475, 78983, 472374,...   []
1      131447                                                 []   []
2       51464  [545417, 276232, 436168, 344798, 331734, 47855...   []
3       45144  [367679, 144663, 459349, 289510, 224363, 55148...   []
4       79929  [211220, 70314, 412769, 522562, 445299, 289089...   []
...       ...                                                ...  ...
23010  101722  [116573, 564336, 397577, 496582, 434298, 25375...   []
23011  122127  [4173, 352228, 162689, 138932, 676492, 351769,...   []
23012   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
23013   36231  [64680, 102795, 200679, 375318, 532729, 95380,...   []
23014   65189  [457124, 586556, 25012, 104065, 154929, 250, 2...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[207912, 623047, 412246, 66475, 78983, 472374,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[545417, 276232, 436168, 344798, 331734, 47855...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[367679, 144663, 459349, 289510, 224363, 55148...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 70314, 412769, 522562, 445299, 289089...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 564336, 397577, 496582, 434298, 25375...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[4173, 352228, 162689, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[64680, 102795, 200679, 375318, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 586556, 25012, 104065, 154929, 250, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [5]:
# Best Records(10)
# neighbor-knn_k100rho4_idfcosFalse
"""
inputs
pred_songs = pd.read_json("submission/neighbor2_a7b0/neighbor2_a7b0_first.json", orient='records')
pred_tags = pd.read_json("submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1.json", orient='records')
"""
result = pd.read_json('submission/neighbor-knn_k100rho4_idfcosFalse/neighbor-knn_k100rho4_idfcosFalse.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/neighbor2_a7b0/neighbor2_a7b0.json', orient='records')
ans = result.copy()

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
        ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json('submission/neighbor-knn_k100rho4_idfcosFalse/neighbor-knn_k100rho4_idfcosFalse_final.json', orient='records')
display(result, ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 휴식, 추억, 픽사, 동심, 힐링]"
1,131447,[],[]
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 사랑, 감성, 슬픔, 기분전환, 2000년대, 명곡]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 감성, 이별, 잔잔한, 가을, 기분전환, 휴식, 새벽, 추억]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 국내ccm, 찬송가, 제이어스, 사랑, 교회, 예배, 마커스]"
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, Pop, 기분전환, 팝송, 드라이브, 신나는, 여행, 휴식, 카페, 스트레스]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 피아노, 휴식, 힐링, 기분전환, 잔잔한, 카페, 집중, 연주곡, 뉴에이지]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 드라이브, 카페]"

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 휴식, 추억, 픽사, 동심, 힐링]"
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 사랑, 감성, 슬픔, 기분전환, 2000년대, 명곡]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 감성, 이별, 잔잔한, 가을, 기분전환, 휴식, 새벽, 추억]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 국내ccm, 찬송가, 제이어스, 사랑, 교회, 예배, 마커스]"
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, Pop, 기분전환, 팝송, 드라이브, 신나는, 여행, 휴식, 카페, 스트레스]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 피아노, 휴식, 힐링, 기분전환, 잔잔한, 카페, 집중, 연주곡, 뉴에이지]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 드라이브, 카페]"

In [7]:
# data concat
best_songs = pd.read_json('submission/neighbor-knn_k100rho4_idfcosFalse/neighbor-knn_k100rho4_idfcosFalse_final.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
val = pd.read_json('res/val.json')
ans = best_songs.copy()

for i in val.index:
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/simple_concat/concat_neighbor-knn_k100rho4_idfcosFalse_final_plus_neighbortag_beta1_a7b1_with_songs.json', orient='records')
display(ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [8]:
# neighbor2_a4b1
first = pd.read_json('submission/neighbor2_a4b1/neighbor2_a4b1_first.json', orient='records')    # (0, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a4b1/neighbor2_a4b1.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [308797, 694423, 76044, 412246, 461170, 15774,...   []
1      131447                                                 []   []
2       51464  [358450, 344798, 191494, 527625, 170349, 70554...   []
3       45144  [144663, 367963, 174749, 140920, 224921, 34949...   []
4       79929  [412769, 211220, 70314, 445299, 106129, 505388...   []
...       ...                                                ...  ...
23010  101722  [116573, 253755, 496582, 397577, 339802, 56998...   []
23011  122127  [162689, 4173, 352228, 138932, 676492, 438095,...   []
23012   77438  [274504, 679436, 140867, 459256, 571016, 49376...   []
23013   36231  [375318, 102795, 200679, 532729, 64680, 95380,...   []
23014   65189  [457124, 25012, 250, 586556, 104065, 154929, 2...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 76044, 412246, 461170, 15774,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[358450, 344798, 191494, 527625, 170349, 70554...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 140920, 224921, 34949...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 505388...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 496582, 397577, 339802, 56998...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 438095,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 571016, 49376...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 102795, 200679, 532729, 64680, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 250, 586556, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [10]:
# neighbor2_a4b3
first = pd.read_json('submission/neighbor2_a4b3/neighbor2_a4b3_first.json', orient='records')    # (0, 23015)
val = pd.read_json('res/val.json')
best_songs = pd.read_json('submission/lightknn_100_idf_rho04_tags-a05b05-songs_upgraded.json', orient='records')
best_tags = pd.read_json('submission/neighbor-tag_beta1_a7b1/neighbortag_beta1_a7b1_with_songs.json', orient='records')
ans = first.copy()

for i in val.index:
    if val.songs[i] == []:
        ans.at[i, 'songs'] = best_songs.loc[i, 'songs']
    ans.at[i, 'tags'] = best_tags.loc[i, 'tags']
ans.to_json('submission/neighbor2_a4b3/neighbor2_a4b3.json', orient='records')

display(first, ans)

           id                                              songs tags
0      118598  [694423, 308797, 461170, 15774, 520437, 288665...   []
1      131447                                                 []   []
2       51464  [344798, 705540, 527625, 191494, 170349, 27623...   []
3       45144  [144663, 459349, 367679, 367963, 280705, 22990...   []
4       79929  [412769, 211220, 70314, 445299, 106129, 505388...   []
...       ...                                                ...  ...
23010  101722  [397577, 496582, 116573, 434298, 75412, 339802...   []
23011  122127  [162689, 588370, 438095, 509141, 707487, 35176...   []
23012   77438  [274504, 679436, 571016, 140867, 459256, 69631...   []
23013   36231  [102795, 200679, 375318, 97444, 95380, 520167,...   []
23014   65189  [457124, 104065, 154929, 586556, 25012, 23155,...   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[694423, 308797, 461170, 15774, 520437, 288665...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 705540, 527625, 191494, 170349, 27623...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 459349, 367679, 367963, 280705, 22990...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 505388...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[397577, 496582, 116573, 434298, 75412, 339802...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[162689, 588370, 438095, 509141, 707487, 35176...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 571016, 140867, 459256, 69631...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[102795, 200679, 375318, 97444, 95380, 520167,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 104065, 154929, 586556, 25012, 23155,...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [2]:
# neighbortag-beta1_a7b0
best = pd.read_json('submission/neighbor2_a5b1/neighbor2_a5b1.json', orient='records')
first = pd.read_json('submission/neighbor-tag_beta1_a7b0/neighbortag_beta1_a7b0.json', orient='recirds')
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = first.loc[i, 'tags']
ans.to_json('submission/neighbor-tag_beta1_a7b0/neighbortag_beta1_a7b0_with_songs.json', orient='records')

display(first, ans)

           id songs                                               tags
0      118598    []                                                 []
1      131447    []                                                 []
2       51464    []                                                 []
3       45144    []                                                 []
4       79929    []                                                 []
...       ...   ...                                                ...
23010  101722    []          [휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]
23011  122127    []  [엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,...
23012   77438    []                                                 []
23013   36231    []                                                 []
23014   65189    []                                                 []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[308797, 694423, 412246, 76044, 207912, 66475,...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[344798, 358450, 170349, 191494, 705540, 52762...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 367963, 174749, 367679, 349492, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[412769, 211220, 70314, 445299, 106129, 522562...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[116573, 253755, 397577, 496582, 434298, 56998...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[162689, 4173, 352228, 138932, 676492, 351769,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[375318, 200679, 102795, 64680, 532729, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 104065, 250, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [6]:
# Best Record(11)
# neighbor-knn-song1_k100rho4v5p5_cosFalse
result = pd.read_json('submission/neighbor-knn-song1_k100rho4v5p5_cosFalse/neighbor-knn-song1_k100rho4v5p5_cosFalse.json', orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/neighbor-knn_k100rho4_idfcosFalse/neighbor-knn_k100rho4_idfcosFalse_final.json', orient='records')
ans = best.copy()

for i in val.index:
    if val.songs[i] == [] and val.tags[i] != []:
        ans.at[i, 'songs'] = result.loc[i, 'songs']
ans.to_json('submission/neighbor-knn-song1_k100rho4v5p5_cosFalse/neighbor-knn-song1_k100rho4v5p5_cosFalse_final.json', orient='records')
display(result, ans)

           id songs tags
0      118598    []   []
1      131447    []   []
2       51464    []   []
3       45144    []   []
4       79929    []   []
...       ...   ...  ...
23010  101722    []   []
23011  122127    []   []
23012   77438    []   []
23013   36231    []   []
23014   65189    []   []

[23015 rows x 3 columns]

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 휴식, 추억, 픽사, 동심, 힐링]"
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 사랑, 감성, 슬픔, 기분전환, 2000년대, 명곡]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 감성, 이별, 잔잔한, 가을, 기분전환, 휴식, 새벽, 추억]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 국내ccm, 찬송가, 제이어스, 사랑, 교회, 예배, 마커스]"
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, Pop, 기분전환, 팝송, 드라이브, 신나는, 여행, 휴식, 카페, 스트레스]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 피아노, 휴식, 힐링, 기분전환, 잔잔한, 카페, 집중, 연주곡, 뉴에이지]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 드라이브, 카페]"

In [8]:
# neighbor-knn-tag1_k100rho4v5p5_idfFalse
first = pd.read_json("submission/neighbor-knn-tag1_k100rho4v5p5_idfFalse/neighbor-knn-tag1_k100rho4v5p5_idfFalse_first.json", orient='records')
second = pd.read_json("submission/neighbor-knn-tag1_k100rho4v5p5_idfFalse/neighbor-knn-tag1_k100rho4v5p5_idfFalse_second.json", orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/neighbor-knn-song1_k100rho4v5p5_cosFalse/neighbor-knn-song1_k100rho4v5p5_cosFalse_final.json', orient='records')
concat = pd.concat([first, second], ignore_index=True)
ans = best.copy()

for i in val.index:
    if val.songs[i] != [] and val.tags[i] == []:
        ans.at[i, 'tags'] = concat.loc[i, 'tags']
ans.to_json('submission/neighbor-knn-tag1_k100rho4v5p5_idfFalse/neighbor-knn-tag1_k100rho4v5p5_idfFalse.json', orient='records')
display(first, second, ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 디즈니OST, 픽사, 휴식..."
1,131447,[],[]
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 이별, 감성, 사랑, 잔잔한, 기분전환, 가을, 새벽, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 마커스, 파워DJ_CCM..."
...,...,...,...
11495,18621,"[111357, 484146, 45745, 45634, 608559, 672035,...","[클래식, 잔잔한, 휴식, 힐링, 피아노, 뉴에이지, 연주곡, 새벽, 밤, 감성]"
11496,55912,"[573989, 548005, 110579, 342503, 501713, 47401...","[여행, 인디, 드라이브, 기분전환, 사랑, 락, 설렘, 감성, 휴식, 힐링]"
11497,18736,"[321021, 344993, 288585, 404358, 706519, 39682...","[힐링, 휴식, 까페, 클래식, 잔잔한, 기분전환, 매장음악, 피아노, 스트레스, 밤]"
11498,68554,[],[]
11499,59108,[],[]

,id,songs,tags
0,101984,"[89620, 33244, 464598, 510882, 672639, 73357, ...","[댄스, 추억, 회상, 90년대, 기분전환, 드라이브, 신나는, 운동, 스트레스, 힐링]"
1,20534,"[562575, 470129, 536588, 83497, 410108, 122154...","[팝, 기분전환, 일렉, 클럽, 운동, 드라이브, 스트레스, 여행, 휴식, Pop]"
2,40972,[],[]
3,65961,[],[]
4,48610,[],[]
...,...,...,...
11510,101722,[],[]
11511,122127,[],[]
11512,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 감성, 사랑]"
11513,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 연주곡, 독서, 가을, 자장가]"
11514,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄캐롤, 드라이브, 봄날, 여행]"

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 디즈니OST, 픽사, 휴식..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 이별, 감성, 사랑, 잔잔한, 기분전환, 가을, 새벽, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 마커스, 파워DJ_CCM..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 감성, 사랑]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 연주곡, 독서, 가을, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄캐롤, 드라이브, 봄날, 여행]"

In [2]:
# neighbor-knn-tag1_k100rho4v7p3_idfFalse
first = pd.read_json("submission/neighbor-knn-tag1_k100rho4v7p3_idfFalse/neighbor-knn-tag1_k100rho4v7p3_idfFalse_first.json", orient='records')
second = pd.read_json("submission/neighbor-knn-tag1_k100rho4v7p3_idfFalse/neighbor-knn-tag1_k100rho4v7p3_idfFalse_second.json", orient='records')
val = pd.read_json('res/val.json')
best = pd.read_json('submission/neighbor-knn-song1_k100rho4v5p5_cosFalse/neighbor-knn-song1_k100rho4v5p5_cosFalse_final.json', orient='records')
concat = pd.concat([first, second], ignore_index=True)
ans = best.copy()

for i in val.index:
    if val.songs[i] != [] and val.tags[i] == []:
        ans.at[i, 'tags'] = concat.loc[i, 'tags']
ans.to_json('submission/neighbor-knn-tag1_k100rho4v7p3_idfFalse/neighbor-knn-tag1_k100rho4v7p3_idfFalse.json', orient='records')
display(first, second, ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 추억, 디즈니OST, 픽사, 동심..."
1,131447,[],[]
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 새벽, 밤, 휴식, 카페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 파워DJ_CCM, 교회, 은혜로..."
...,...,...,...
11495,18621,"[111357, 484146, 45745, 45634, 608559, 672035,...","[클래식, 휴식, 힐링, 잔잔한, 피아노, 연주곡, 집중, 뉴에이지, 카페, 밤]"
11496,55912,"[573989, 548005, 110579, 342503, 501713, 47401...","[여행, 드라이브, 인디, 기분전환, 사랑, 락, 설렘, 감성, 발라드, 휴가]"
11497,18736,"[321021, 344993, 288585, 404358, 706519, 39682...","[힐링, 휴식, 까페, 클래식, 잔잔한, 기분전환, 매장음악, 피아노, 스트레스, 밤]"
11498,68554,[],[]
11499,59108,[],[]

,id,songs,tags
0,101984,"[89620, 33244, 464598, 510882, 672639, 73357, ...","[댄스, 추억, 회상, 90년대, 기분전환, 드라이브, 신나는, 운동, 스트레스, 가요]"
1,20534,"[562575, 470129, 536588, 83497, 410108, 122154...","[기분전환, 팝, 드라이브, 운동, 일렉, 클럽, 스트레스, 휴식, 여행, Pop]"
2,40972,[],[]
3,65961,[],[]
4,48610,[],[]
...,...,...,...
11510,101722,[],[]
11511,122127,[],[]
11512,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 여행]"
11513,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 자장가, 편안한]"
11514,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 봄노래, 설렘, 기분전환, 봄날, 봄캐롤, 여행, 드라이브]"

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 추억, 디즈니OST, 픽사, 동심..."
1,131447,"[16382, 349306, 660725, 595188, 283888, 496879...","[기분전환, 발라드, 드라이브, 힙합, 힐링, 카페, 휴식, 랩, 추억, 감성]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 새벽, 밤, 휴식, 카페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 파워DJ_CCM, 교회, 은혜로..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 너무힘들어, 위로가_되는_음악, 어버이날, 사랑, 감사,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 여행]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 자장가, 편안한]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 봄노래, 설렘, 기분전환, 봄날, 봄캐롤, 여행, 드라이브]"

In [7]:
# final (아래거랑 묶음)
# neighbor3_a7b0
first = pd.read_json('submission/neighbor3_a7b0/neighbor3_a7b0_first.json', orient='records')
second = pd.read_json('submission/neighbor3_a7b0/neighbor3_a7b0_second.json', orient='records')
server = pd.read_json('submission/neighbor3_a7b0/neighbor3_a7b0_server.json', orient='records')
best = pd.read_json('submission/neighbor-knn-tag1_k100rho4v7p3_idfFalse/neighbor-knn-tag1_k100rho4v7p3_idfFalse.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.concat([first, second], ignore_index=True)
# ans.to_json('submission/neighbor3_a7b0/neighbor3_a7b0_concat.json', orient='records')

# display(ans, server)

In [29]:
# final (위에거랑 묶음)
# neighbor-knn1_k100rho4s7t7_idfcosFalse
first = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor-knn1_k100rho4s7t7_idfcosFalse_first.json', orient='records')    # (0, 8500)
second = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor-knn1_k100rho4s7t7_idfcosFalse_second.json', orient='records')  # (8500, 11500)
third = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor-knn1_k100rho4s7t7_idfcosFalse_third.json', orient='records')    # (11500, 19000)
fourth = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor-knn1_k100rho4s7t7_idfcosFalse_fourth.json', orient='records')  # (19000, 23015)
val = pd.read_json('res/val.json')
ans = pd.concat([first, second, third, fourth], ignore_index=True)
for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = [i for i in range(100)]
        ans.at[i, 'tags']  = [i for i in range(10)]
### i == 5459 -> song 개수 77개 에러
ans.at[5459, 'songs'] = ans.loc[5459, 'songs'] + [-i for i in range(23)]
ans.to_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor-knn1_k100rho4s7t7_idfcosFalse_without_title.json', orient='records')  #
display(ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 추억, 디즈니OST, 픽사, 동심..."
1,131447,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 새벽, 밤, 휴식, 카페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 파워DJ_CCM, 교회, 은혜로..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 여행]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 자장가, 편안한]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 봄노래, 설렘, 기분전환, 봄날, 봄캐롤, 여행, 드라이브]"

In [3]:
# neighbor3_a7b0
# neighbor-knn1_k100rho4s9t7_idfidfFalse
from data_util import *

train = pd.read_json('res/train.json')
val = pd.read_json('res/val.json')
_, id_to_tag = tag_id_meta(train, val)

first = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_first.json', orient='records')
second = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_second.json', orient='records')
ans = pd.concat([first, second], ignore_index=True)

ans = convert_id_to_tag(ans, id_to_tag)

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = [i for i in range(100)]
        ans.at[i, 'tags']  = [i for i in range(10)]

ans.to_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_without_title.json', orient='records')  #
display(ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 픽사, 디즈니OST..."
1,131447,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 카페, 휴식, 새벽, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 편안한, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 여행, 감성]"

In [4]:
pred_tag = pd.read_json('submission/neighbor-tag/neighbor-tag_beta1_a8b0/neighbortag_beta1_a8b0.json', orient='records')
best = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = pred_tag.loc[i, 'tags']
ans.to_json('submission/neighbor-tag/neighbor-tag_beta1_a8b0/neighbortag_beta1_a8b0_final.json', orient='records')
display(ans)

,id,songs,tags
0,118598,"[286273, 177460, 246098, 572238, 414565, 10073...","[2살, 새벽, 뱅, 사랑, 밤, 상쾌, ㅁㄴㅇㄹ, 기분전환, 까페, 락]"
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 카페, 휴식, 새벽, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 까페, 비오는날, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 편안한, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 여행, 감성]"

In [5]:
pred_tag = pd.read_json('submission/neighbor-tag/neighbor-tag_beta1_a6b0/neighbortag_beta1_a6b0.json', orient='records')
best = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = pred_tag.loc[i, 'tags']
ans.to_json('submission/neighbor-tag/neighbor-tag_beta1_a6b0/neighbortag_beta1_a6b0_final.json', orient='records')
display(ans)

,id,songs,tags
0,118598,"[286273, 177460, 246098, 572238, 414565, 10073...","[2살, 새벽, 뱅, 사랑, 밤, 상쾌, ㅁㄴㅇㄹ, 기분전환, 까페, 락]"
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 카페, 휴식, 새벽, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 카페, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 사랑, 위로가_되는_음악, 너무힘들어, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 편안한, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 여행, 감성]"

In [6]:
pred_tag = pd.read_json('submission/neighbor-tag/neighbor-tag_beta1_a10b0/neighbortag_beta1_a10b0.json', orient='records')
best = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
val = pd.read_json('res/val.json')
ans = best.copy()

for i in val.index:
    if val.tags[i] != []:
        ans.at[i, 'tags'] = pred_tag.loc[i, 'tags']
ans.to_json('submission/neighbor-tag/neighbor-tag_beta1_a10b0/neighbortag_beta1_a10b0_final.json', orient='records')
display(ans)

,id,songs,tags
0,118598,"[286273, 177460, 246098, 572238, 414565, 10073...","[2살, 새벽, 뱅, 사랑, 밤, 상쾌, ㅁㄴㅇㄹ, 기분전환, 까페, 락]"
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 카페, 휴식, 새벽, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 기분전환, 감성, 까페, 비오는날, 추억, 회상]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 위로,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 편안한, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 여행, 감성]"

In [5]:
# ERROR

# first = pd.read_json('submission/neighbor3_a7b0-neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor3_a7b0-neighbor-knn1_k100rho4s7t7_idfcosFalse.json', orient='records')
# best = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
# val = pd.read_json('res/val.json')
# ans = first.copy()

# for i in val.index:
#     if val.songs[i] == [] and val.tags[i] == []:
#         ans.at[i, 'songs'] = best.loc[i, 'songs']
#         ans.at[i, 'tags']  = best.loc[i, 'tags']
#     if ans.songs[i] != 100:
#         ans.at[i, 'songs'] += ans.at[i, 'songs'] + [-i for i in range(1,24)]
# ans.to_json('submission/neighbor3_a7b0-neighbor-knn1_k100rho4s7t7_idfcosFalse/neighbor3_a7b0-neighbor-knn1_k100rho4s7t7_idfcosFalse_with_title.json', orient='records')
# display(ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 추억, 디즈니OST, 픽사, 동심..."
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 슬픔, 이별, 설렘, 싸이월드, 사랑, 밤, 새벽]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 이별, 잔잔한, 기분전환, 새벽, 밤, 휴식, 카페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 예배, 파워DJ_CCM, 교회, 은혜로..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 카페, 신나는, 매장음악, 여행]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 피아노, 기분전환, 연주곡, 가을, 자장가, 편안한]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 봄노래, 설렘, 기분전환, 봄날, 봄캐롤, 여행, 드라이브]"

In [16]:
# neighbor-knn1_k100rho4s10t10_idfidfFalse
first = pd.read_json("submission/neighbor3_a7b0/neighbor-knn1_k100rho4s10t10_idfidfFalse/neighbor-knn1_k100rho4s10t10_idfidfFalse_first.json", orient='records')
second = pd.read_json("submission/neighbor3_a7b0/neighbor-knn1_k100rho4s10t10_idfidfFalse/neighbor-knn1_k100rho4s10t10_idfidfFalse_second.json", orient='records') 
val = pd.read_json("res/val.json")
best = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = best.loc[i, 'songs']
        ans.at[i, 'tags'] = best.loc[i, 'tags']
ans.to_json("submission/neighbor3_a7b0/neighbor-knn1_k100rho4s10t10_idfidfFalse/neighbor-knn1_k100rho4s10t10_idfidfFalse.json", orient='records')
ans

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 추억, 기분전환, 동심, 디즈니OST, 픽사..."
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 이별, 슬픔, 설렘, 밤, 새벽, 사랑, 감성]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 감성, 사랑, 잔잔한, 이별, 새벽, 카페, 기분전환, 휴식, 밤]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 교회, 찬송가, 위로, 파워DJ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 신나는, 카페, 매장음악, 감성]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 휴식, 힐링, 잔잔한, 기분전환, 피아노, 가을, 연주곡, 집중, 자장가]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 사랑, 벚꽃, 설렘, 봄노래, 기분전환, 봄날, 봄캐롤, 감성, 드라이브]"

In [3]:
# neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse
first = pd.read_json("submission/neighbor3_a7b0/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse_first.json", orient='records') 
second = pd.read_json("submission/neighbor3_a7b0/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse_second.json", orient='records')
val = pd.read_json('res/val.json')
title = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = title.loc[i, 'songs']
        ans.at[i, 'tags']  = title.loc[i, 'tags']
ans.to_json('submission/neighbor3_a7b0/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse/neighbor-knn1_k50-20step25-10rho4s9t7_idfidfFalse.json', orient='records')
ans

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 애니메이션, 디즈니, 미녀와야수, 겨울왕국, 인어공주, 픽사, 추억, 라..."
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 잔잔한, 사랑, 설렘, 가을, 드라이브, 봄, 월드뮤직]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 까페, 이별, 힐링, 밤, 사랑, 기분전환, 슬픔, 잔잔한, 휴식]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 은혜로운, 찬송가, 파워DJ_CCM, 국내ccm, ..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[Pop, 기분전환, 팝, 해외차트, 시대별차트, 드라이브, 팝송, 매장음악, 휴식..."
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[잔잔한, 힐링, 클래식, 휴식, 아침, 독서, 편안한, 감성, 피아노, 모닝콜]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 봄노래, 벚꽃, 봄캐롤, 설렘, 사랑, 봄날, 기분전환, 드라이브, 카페]"

In [9]:
# neighbor3_a7b0 + title
title = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
neighbor = pd.read_json('submission/neighbor3_a7b0/neighbor3_a7b0_server.json', orient='records')
val = pd.read_json('res/val.json')
ans = neighbor.copy()

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = title.loc[i, 'songs']
        ans.at[i, 'tags']  = title.loc[i, 'tags']
    elif val.songs[i] == []:
        ans.at[i, 'songs'] = [-i for i in range(1, 101)]
    elif val.tags[i] == []:
        ans.at[i, 'tags'] = [-i for i in range(1,11)]
ans.to_json("submission/neighbor3_a7b0/neighbor3_a7b0_server_plus_title.json", orient='records')
ans

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]"

In [22]:
# neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse
first = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse_first.json', orient='records')
second = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse_second.json', orient='records')
val = pd.read_json('res/val.json')
title = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
ans = pd.concat([first, second], ignore_index=True)

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = title.loc[i, 'songs']
        ans.at[i, 'tags']  = title.loc[i, 'tags']
ans.to_json('submission/neighbor3_a7b0/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse/neighbor-knn1_k75-50step25-25rho4s9t10_idfidfFalse.json', orient='records')
ans

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 픽사, 동심, 추억, 겨울왕국, 기분전환, ..."
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 가을, 슬픔, 이별, 까페, 잔잔한, 황찬희, 작곡가]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 잔잔한, 감성, 이별, 새벽, 휴식, 봄, 카페, 까페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 파워DJ_CCM, 예배, 은혜로운, 찬..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[휴식, 새벽, 밤, 힐링, 감성, 기분전환, 추억, 사랑, 회상, 까페]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[엄마, 아버지, 부모님, 위로가_되는_음악, 너무힘들어, 사랑, 어버이날, 눈물,..."
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 신나는, 카페, 휴식, 드라이브, 매장음악, 해외차트]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 기분전환, 피아노, 집중, 독서, 가을, 연주곡]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 봄노래, 설렘, 봄날, 봄캐롤, 기분전환, 감성, 카페]"

In [13]:
# neighbor3_a7b0
#
neighbor = pd.read_json('submission/neighbor3_a7b0/neighbor3_a7b0_concat.json', orient='records')
val = pd.read_json('res/val.json')
only_songs = neighbor.copy()

for i in neighbor.index:
    if neighbor.tags[i] != []:
        only_songs.at[i, 'tags'] = []
only_songs.to_json('submission/neighbor3_a7b0/only_songs_from_neighbor3_a7b0.json', orient='records')
only_songs

           id                                              songs tags
0      118598  [207912, 623047, 703323, 78983, 422438, 638488...   []
1      131447                                                 []   []
2       51464  [533739, 585216, 457500, 358450, 410365, 57304...   []
3       45144  [144663, 349492, 285895, 367963, 174749, 28951...   []
4       79929  [211220, 412769, 70314, 445299, 106129, 289089...   []
...       ...                                                ...  ...
23010  101722  [253755, 116573, 569989, 564336, 542045, 69342...   []
23011  122127  [352228, 138932, 4173, 162689, 473514, 676492,...   []
23012   77438  [274504, 679436, 140867, 459256, 493762, 57101...   []
23013   36231  [64680, 532729, 375318, 651788, 100426, 95380,...   []
23014   65189  [457124, 25012, 586556, 250, 104065, 154929, 2...   []

[23015 rows x 3 columns]

In [37]:
# above
# neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse
first = pd.read_json('submission/neighbor3_a7b0/only_songs_knn_pred-neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse/neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse_first.json', orient='records')   # (0, 6000)
second = pd.read_json('submission/neighbor3_a7b0/only_songs_knn_pred-neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse//neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse_second.json', orient='records') # (6000 , 11500)
third = pd.read_json('submission/neighbor3_a7b0/only_songs_knn_pred-neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse//neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse_third.json', orient='records')   # (11500, 20000)
fourth = pd.read_json('submission/neighbor3_a7b0/only_songs_knn_pred-neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse//neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse_fourth.json', orient='records') # (20000, 23015)
title = pd.read_json('submission/neighbor3_a7b0/neighbor-knn1_k100rho4s9t7_idfidfFalse/neighbor-knn1_k100rho4s9t7_idfidfFalse_with_title.json', orient='records')
val = pd.read_json('res/val.json')
ans = pd.concat([first, second, third, fourth], ignore_index=True)

for i in val.index:
    if val.songs[i] == [] and val.tags[i] == []:
        ans.at[i, 'songs'] = title.loc[i, 'songs']
        ans.at[i, 'tags']  = title.loc[i, 'tags']
    if ans.songs[i] == []:
        ans.at[i, 'songs'] = [-i for i in range(1,101)]
    if ans.tags[i] == []:
        ans.at[i, 'tags']  = [-i for i in range(1,11)]
ans.to_json('submission/neighbor3_a7b0/only_songs_knn_pred-neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse/neighbor-knn2_k1-50step1-25rho4s9t10_idfidfFalse_final.json', orient='records')
display(first, second, third, fourth, ans)

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 픽사, 동심, 추억, 겨울왕국, 기분전환, ..."
1,131447,[],[]
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 가을, 슬픔, 이별, 까페, 잔잔한, 황찬희, 작곡가]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 잔잔한, 감성, 이별, 새벽, 휴식, 봄, 카페, 까페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 파워DJ_CCM, 예배, 은혜로운, 찬..."
...,...,...,...
5995,78942,"[588146, 576768, 115028, 705650, 698743, 17465...","[동요, 아기동요, 어린이, 핑크퐁, 아기, 신나는, 7살, 드라이브, 상어가족, ..."
5996,67108,"[310244, 402527, 689598, 616735, 508212, 45909...","[발라드, 우울, 새벽, 락, 밤, 감성, 슬픔, 비오는날, 잔잔한, 이별]"
5997,58914,[],[]
5998,114326,[],[]
5999,64310,"[683175, 68675, 646769, 332674, 567143, 222305...","[팝, 새벽, 밤, 드라이브, 힙합, Pop, 기분전환, 알앤비, 몽환, 감성]"

,id,songs,tags
0,92032,"[435725, 207654, 43987, 644026, 685034, 629217...","[잔잔한, 피아노, 클래식, 힐링, 집중, 휴식, 카페, 피아노연주곡, 자장가, 연주곡]"
1,81178,"[345972, 358497, 525998, 249301, 40580, 336776...","[팝, 올드팝, 드라이브, 추억, Rock, 록, 신나는, 명곡, oldpop, 팝송]"
2,153079,"[259327, 524895, 678775, 548276, 554930, 52026...","[EDM, 팝, 일렉트로니카, 매장음악, 드라이브, 기분전환, 감성, 클럽, 디스코..."
3,73161,"[418935, 118049, 263417, 112153, 604870, 69710...","[비투비, 발라드, 힐링, 휴식, 위로, 잔잔한, 이별, 사랑, 멜로디, 추천]"
4,15244,"[407082, 142344, 408870, 613003, 346038, 59874...","[발라드, 새벽, 이별, 밤, 슬픔, 추억, 회상, 소울, 알앤비, 가을]"
...,...,...,...
5495,18621,"[111357, 484146, 45745, 45634, 608559, 672035,...","[클래식, 잔잔한, 휴식, 힐링, 피아노, 뉴에이지, 집중, 연주곡, 편안한, 독서]"
5496,55912,"[573989, 548005, 110579, 342503, 501713, 47401...","[사랑, 설렘, 인디, 락, 기분전환, 드라이브, 발라드, 잔잔한, 봄, 가을]"
5497,18736,"[321021, 344993, 288585, 404358, 706519, 39682...","[힐링, 휴식, 까페, 잔잔한, 클래식, 매장음악, 기분전환, 스트레스, 피아노, 가을]"
5498,68554,"[364927, 306803, 617280, 555071, 377137, 30398...","[매장음악, 까페, 기분전환, 팝, 잔잔한, 새벽, 드라이브, 분위기, 겨울, Pop]"
5499,59108,"[310974, 92755, 505710, 266016, 13342, 619987,...","[새벽, 밤, 잔잔한, 이별, 우울, 슬픔, 락, 감성, 비오는날, 팝]"

,id,songs,tags
0,101984,"[89620, 33244, 464598, 510882, 672639, 73357, ...","[댄스, 추억, 회상, 기분전환, 90년대, 드라이브, 신나는, 나이트, 1990년..."
1,20534,"[562575, 470129, 536588, 83497, 410108, 122154...","[팝, 기분전환, 운동, 드라이브, 일렉, 클럽, 스트레스, 휴식, 힙합, Pop]"
2,40972,"[145158, 362831, 408581, 318062, 603592, 38336...","[새벽, 휴식, 재즈, 카페, 연주곡, 노동요, 힐링, 까페, 매장음악, 밤]"
3,65961,"[357367, 144663, 484926, 116573, 75842, 449244...","[감성, 사랑, 이별, 새벽, 잔잔한, 발라드, 카페, 슬픔, 휴식, 기분전환]"
4,48610,"[456740, 367963, 612516, 246531, 413314, 55270...","[발라드, 이별, 감성, 노래방, 사랑, 애창곡, 히트곡, 인기곡, 잔잔한, 밤]"
...,...,...,...
8495,47977,"[142202, 279851, 117726, 208869, 283189, 52120...","[휴식, 힐링, 기분전환, 추억, 발라드, 회상, 새벽, 감성, 팝, 밤]"
8496,2932,"[133143, 610933, 235900, 250, 132994, 243850, ...","[사랑, 설렘, 기분전환, 인디, 봄, 휴식, 힐링, 발라드, 잔잔한, 카페]"
8497,8491,"[617553, 588625, 217130, 276555, 181172, 61259...","[클럽, 일렉, trance, EDM, 트랜스, 드라이브, 일렉트로니카, 운동, 스..."
8498,102545,[],[]
8499,81323,"[454218, 231481, 566257, 115765, 249594, 40015...","[힙합, 랩, 기분전환, 사랑, 감성힙합, 감성, 스트레스, 설렘, 드라이브, 신나는]"

,id,songs,tags
0,42728,"[288102, 422736, 580527, 82815, 209127, 569405...","[JPOP, 일본노래, 일본, 기분전환, 일본음악, 제이팝, 감성, 애니메이션OST..."
1,135222,"[650494, 457124, 293236, 25012, 204547, 348200...","[봄, 사랑, 봄노래, 설렘, 기분전환, 벚꽃, 힐링, 드라이브, 여행, 봄캐롤]"
2,242,[],[]
3,102740,[],[]
4,144715,"[460823, 175720, 552464, 4984, 23590, 316305, ...","[감성, 팝송, 드라이브, 기분전환, Pop, 팝, 휴식, 잔잔한, 새벽, 밤]"
...,...,...,...
3010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[밤, 새벽, 슬픔, 이별, 발라드, 힐링, 휴식, 회상, 잔잔한, 드라이브]"
3011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[가족, 사랑, 부모님, 추억, 회상, 엄마, 힐링, 아빠, 어버이날, 휴식]"
3012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 신나는, 카페, 휴식, 드라이브, 매장음악, 해외차트]"
3013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 기분전환, 피아노, 집중, 독서, 가을, 연주곡]"
3014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 봄노래, 설렘, 봄날, 봄캐롤, 기분전환, 감성, 카페]"

,id,songs,tags
0,118598,"[207912, 623047, 703323, 78983, 422438, 638488...","[OST, 디즈니, 애니메이션, 영화, 픽사, 동심, 추억, 겨울왕국, 기분전환, ..."
1,131447,"[240351, 141346, 7847, 51940, 196884, 131666, ...","[AOR, 페퍼톤스, 어덜트컨템포러리, 어덜트오리엔티드록, 카이스트, WestCoa..."
2,51464,"[533739, 585216, 457500, 358450, 410365, 57304...","[발라드, 추억, 회상, 가을, 슬픔, 이별, 까페, 잔잔한, 황찬희, 작곡가]"
3,45144,"[144663, 349492, 285895, 367963, 174749, 28951...","[발라드, 사랑, 잔잔한, 감성, 이별, 새벽, 휴식, 봄, 카페, 까페]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 289089...","[CCM, 찬양, 은혜, 사랑, 국내ccm, 파워DJ_CCM, 예배, 은혜로운, 찬..."
...,...,...,...
23010,101722,"[253755, 116573, 569989, 564336, 542045, 69342...","[밤, 새벽, 슬픔, 이별, 발라드, 힐링, 휴식, 회상, 잔잔한, 드라이브]"
23011,122127,"[352228, 138932, 4173, 162689, 473514, 676492,...","[가족, 사랑, 부모님, 추억, 회상, 엄마, 힐링, 아빠, 어버이날, 휴식]"
23012,77438,"[274504, 679436, 140867, 459256, 493762, 57101...","[팝, 팝송, Pop, 기분전환, 신나는, 카페, 휴식, 드라이브, 매장음악, 해외차트]"
23013,36231,"[64680, 532729, 375318, 651788, 100426, 95380,...","[클래식, 힐링, 휴식, 잔잔한, 기분전환, 피아노, 집중, 독서, 가을, 연주곡]"
23014,65189,"[457124, 25012, 586556, 250, 104065, 154929, 2...","[봄, 벚꽃, 사랑, 봄노래, 설렘, 봄날, 봄캐롤, 기분전환, 감성, 카페]"